/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: Inter-Variale, sans-serif;
    --accent-font: PressStart2P, sans-serif;
    --main-text-weight: 400;
    --header-text-weight: 700;
    --background-color: #FFFFFF;
    --accent-color: #000000;
    --background-image: repeating-linear-gradient(
        to bottom,
        #000 0px,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to right,
        #000 0px,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(to bottom, #E7E7E7 0%, #1A1A1A 100%);
     --main-text-weight: 400;
     --header-text-weight: 700;
    --text-reverse-color: white;
    --heart-sparks-color: red;
 
}